# ------------------------
# Reports folder
# ------------------------

# Ignore everything in reports/figures
reports/figures/*

# But do NOT ignore PNG images
!reports/figures/*.png

# Keep .gitkeep in figures to preserve folder
!reports/figures/.gitkeep

# Allow PDFs in final_reports
!reports/final_reports/.gitkeep
!reports/final_reports/*.pdf

# ------------------------
# Data and Docs folders
# ------------------------

# Ignore all CSVs, Excel files in data
data/*.csv
data/*.xlsx
data/*.xls

# Ignore all PDFs in docs
docs/*.pdf

# Ignore everything else in data/docs
data/*
docs/*

# Keep placeholders
!data/.gitkeep
!data/README.md
!docs/.gitkeep
!docs/README.md

# ------------------------
# Cache and system files
# ------------------------
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
Thumbs.db